<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1147469539187844</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1147469539187844</string>
	<key>FacebookClientToken</key>
	<string>e1bff67ae751a89061ea181c364e7e5b</string>
	<key>FacebookDisplayName</key>
	<string>Agence</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
</dict>
</plist>
